$aquamarine-palette: (
  50: #f6fffb,
  100: #e9fff6,
  200: #dafff0,
  300: #cbffea,
  400: #c0ffe6,
  500: #b5ffe1,
  600: #aeffdd,
  700: #a5ffd9,
  800: #9dffd5,
  900: #8dffcd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
