/* For use in src/lib/core/theming/_palette.scss */
$persian-green-palette: (
  50: #e5f4f1,
  100: #bee3dd,
  200: #92d0c7,
  300: #66bdb0,
  400: #46af9f,
  500: #25a18e,
  600: #219986,
  700: #1b8f7b,
  800: #168571,
  900: #0d745f,
  A100: #a7ffeb,
  A200: #74ffdf,
  A400: #41ffd3,
  A700: #27ffce,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
