$rose-quartz-palette: (
  50: #f5f5f7,
  100: #e7e6ea,
  200: #d7d5dc,
  300: #c7c4ce,
  400: #bbb7c4,
  500: #afaab9,
  600: #a8a3b2,
  700: #9f99aa,
  800: #9690a2,
  900: #867f93,
  A100: #ffffff,
  A200: #f2edfe,
  A400: #d0b8ff,
  A700: #bf9fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
