$srpg-blue-palette: (
    50 : #e2ebfd,
    100 : #b6cdfb,
    200 : #85abf8,
    300 : #5489f5,
    400 : #3070f3,
    500 : #0b57f1,
    600 : #0a4fef,
    700 : #0846ed,
    800 : #063ceb,
    900 : #032ce7,
    A100 : #ffffff,
    A200 : #dadfff,
    A400 : #a7b3ff,
    A700 : #8e9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
