$srpg-red-palette: (
    50 : #ffe3e9,
    100 : #ffb9c7,
    200 : #ff8ba2,
    300 : #fe5d7d,
    400 : #fe3a61,
    500 : #fe1745,
    600 : #fe143e,
    700 : #fe1136,
    800 : #fe0d2e,
    900 : #fd071f,
    A100 : #ffffff,
    A200 : #fff2f3,
    A400 : #ffbfc3,
    A700 : #ffa6ab,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
