<app-page header="SwissRPG Portal" url="/dashboard" [disableNav]="true">
  <div page>
    <a mat-button [routerLink]="['/upcoming']">
      <mat-icon class="large-icon opacity-50">event</mat-icon>
      <mat-label> Upcoming </mat-label>
    </a>
    <a mat-button [routerLink]="['/notifications']">
      <mat-icon class="large-icon opacity-50">notifications</mat-icon>
      <mat-label> Notifications </mat-label>
    </a>
    <a mat-button [routerLink]="['/profile']">
      <mat-icon class="large-icon opacity-50">person</mat-icon>
      <mat-label> Profile </mat-label>
    </a>
    <a mat-button [routerLink]="['/inbox']">
      <mat-icon class="large-icon opacity-50">inbox</mat-icon>
      <mat-label> Inbox </mat-label>
    </a>
    <a mat-button [routerLink]="['/shop']">
      <mat-icon class="large-icon opacity-50">shopping_cart</mat-icon>
      <mat-label> Merchandise </mat-label>
    </a>
    <a mat-button [routerLink]="['/support']">
      <mat-icon class="large-icon opacity-50">volunteer_activism</mat-icon>
      <mat-label> Support Us </mat-label>
    </a>
  </div>
</app-page>
