:host {
  max-width: 568px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

mat-button-toggle-group {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  margin-bottom: 22px;
  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  mat-icon {
    margin-left: 8px;
  }
}
