<app-page header="SwissRPG Portal" url="/dashboard" [disableNav]="true">
  <div page>
    <a mat-button [routerLink]="['/upcoming']">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Upcoming </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-image
            url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBc3Z6uvROAD4GekjWsXnlbCiDROKpWdzmK6eThySMiA&s"
            [height]="200"
          ></app-image>
        </mat-card-content>
      </mat-card>
    </a>
    <a mat-button [routerLink]="['/notifications']">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Notifications </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-image
            url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBc3Z6uvROAD4GekjWsXnlbCiDROKpWdzmK6eThySMiA&s"
            [height]="200"
          ></app-image>
        </mat-card-content>
      </mat-card>
    </a>
    <a mat-button [routerLink]="['/profile']">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Profile </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-image
            url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBc3Z6uvROAD4GekjWsXnlbCiDROKpWdzmK6eThySMiA&s"
            [height]="200"
          ></app-image>
        </mat-card-content>
      </mat-card>
    </a>
    <a mat-button [routerLink]="['/shop']">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Merch Shop </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-image
            url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBc3Z6uvROAD4GekjWsXnlbCiDROKpWdzmK6eThySMiA&s"
            [height]="200"
          ></app-image>
        </mat-card-content>
      </mat-card>
    </a>
    <a mat-button [routerLink]="['/support']">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Support Us </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-image
            url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBc3Z6uvROAD4GekjWsXnlbCiDROKpWdzmK6eThySMiA&s"
            [height]="200"
          ></app-image>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</app-page>
