$carolina-blue-palette: (
  50: #f1f7fb,
  100: #dbebf5,
  200: #c3deef,
  300: #abd0e8,
  400: #99c6e3,
  500: #87bcde,
  600: #7fb6da,
  700: #74add5,
  800: #6aa5d1,
  900: #5797c8,
  A100: #ffffff,
  A200: #fafdff,
  A400: #c7e6ff,
  A700: #addaff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
