$srpg-warn-palette: (
    50 : #fff2e1,
    100 : #ffdfb4,
    200 : #ffca82,
    300 : #ffb550,
    400 : #ffa52b,
    500 : #ff9505,
    600 : #ff8d04,
    700 : #ff8204,
    800 : #ff7803,
    900 : #ff6701,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd5bf,
    A700 : #ffc4a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
